body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
ul{
    list-style: none;
    padding-inline-start: 0;
    margin-block-end: 0;
    margin-block-start: 0;
}
ul li{
    text-decoration: none;
}
/* header */
.header{
    background-color: rgba(255, 245, 240, 1);
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
  
}
.nav{
    display: flex;
    align-items: center;
}
.nav__logo{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
    font-style: normal;
    color: rgba(37, 43, 66, 1);
    margin: 0 2rem 0 0;
    letter-spacing: 0.1px;
}
.nav__list{
    display: flex;
    align-items: center;
    list-style: none;
}
.nav__item{
    margin: 0 1rem;
}
.nav__link{
    font-size:0.875rem ;
    line-height: 1.5rem;
    color: rgba(115, 115, 115, 1);
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.2px;
    text-decoration: none;
}
 .nav__link:hover,  .nav__link:active{
    color: rgba(27, 160, 171, 1);
}
.header__action{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav__list{
    display: none;
}
.header__menu-icon{
    color: rgba(115, 115, 115, 1);
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
} 
.header__menu-icon{
    color: rgba(115, 115, 115, 1);
    width: 1.5rem;
    height: 1.5rem;

} 
/* buttons */
.button{
    color: rgba(27, 160, 171, 1);
    font-size: 0.875rem ;
    line-height: 1.375rem;
    letter-spacing: 0.2px;
    font-weight: 700;
    font-style: normal;
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    border-width: 0;
    background-color: transparent;
    cursor: pointer;
}

.button--primary:hover{
    background-color: rgba(27, 160, 171, 1);
    color: #fff;
    border: rgba(27, 160, 171, 1);
    border-width: 1px;
    border-color: #fff;
    
}
.button--after-icon-arrow::after{
    content: url('/images/Vector.svg');
    width: 7px;
    height: 10px;
    color: rgba(27, 160, 171, 1);
    
}
.button--after-icon-arrow:hover::after{
    color: #fff;
    content: url('/images/Vector-green.svg');

}
.button--after-icon-chevron::after{
    content: '>';
    width: 7px;
    height: 10px;
    color: rgba(27, 160, 171, 1);
    
}
.button--after-icon-chevron:hover::after{
    color: #fff;
}
.button--secondary{
    background-color: rgba(27, 160, 171, 1);
    color: #fff;
    text-transform: uppercase;
    border-width: 1px;
    border-color: transparent;
}
.button--secondary:hover{
    background-color: #fff;
    color: rgba(27, 160, 171, 1);
}
.button--border-secondary{
    border-color: rgba(27, 160, 171, 1);
}
.button--visibility-mobile{
    display: block;
}
.button--visibility-default{
    display: none;
}
/* Display */
.hidden{
    display: none;
}
.block{
    display: block;
}
/* Hero section */
.hero{
    height: 80vh;
    background-color: rgba(255, 245, 240, 1);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.hero__action{
    display: flex;
    gap: 10px;
}

/* Our experts section */
.our-experts{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 3rem 0;
    padding: 1rem 1rem 0 1rem;
}
.our-experts__img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.our-experts__content{
    align-self: center;
}

/* Team */
.team{
    padding: 1.5rem;
}

.team__members{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
    margin: 4rem 0;
}
.card{
    border-color: transparent;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
}
.card__img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.card__body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.card__list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card__item{
    margin: 0 10px 0 0;
}

/* Contact  */
.footer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 245, 240, 1);
    padding: 3rem 0;
}
.footer__contact{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 3rem 0;
}
.form__group{
    display: flex;
    align-items: center;
    flex: 1 1 0%;
    margin: 0 0 1.5rem 0;
}
.form__label{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
.form__input{
    height: 100%;
    width: 100%;
    background-color: #fff;
    border: 0;
    padding: 0.5rem 1.2rem;
    color: rgba(115, 115, 115, 1);
    letter-spacing: 0.2px;
    font-weight: 400;
    font-style: normal;
    font-size: 0.875rem;
    line-height: 1.25rem;
    
}
.form__input::placeholder{
    color: rgba(115, 115, 115, 1);
    letter-spacing: 0.2px;
    font-weight: 400;
    font-style: normal;
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.title{
    color: rgba(27, 160, 171, 1);
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.1px;
    font-weight: 700;
    font-style: normal;
}
.headline{
    color: rgba(37, 43, 66, 1);
    letter-spacing: 0.2px;
    font-weight: 700;
    font-style: normal;
    margin: 0; 
}
.headline--size-small{
    font-size: 0.875rem;
    line-height: 2rem;
}
.headline--size-medium{
     font-size: 2rem;
     line-height: 3rem;
}
.headline--size-large{
    font-size: 2.25rem; 
    line-height: 2.5rem
}
.headline--before-line{
    position: relative;
}
.headline--before-line::before{
    content: '';
    width: 60px;
    height: 3px;
    position: absolute;
    top: -20px;
    left: 0;
    border-bottom: solid 5px rgb(240, 93, 19);
}
.description{
    color: rgba(115, 115, 115, 1);
    letter-spacing: 0.2px;
    font-weight: 400;
    font-style: normal;
}
.description--size-small{
    font-size: 0.75rem;
    line-height: 1rem;
}
.description--size-medium{
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.description--size-large{
    font-size: 1.25rem;
    line-height: 1.875rem;
}
.description--position-center{
    text-align: center;
}
.descrition--width-half{
    max-width: 100%;

}
/* Responsiveness */
/* sm :@media (min-width: 640px) { ... }*/
@media screen and (min-width: 640px) {
    /* Our experts */
    .our-experts{
        padding: 5rem;
    }
    /* team */
    .team__members{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .team__description{
        max-width: 50%;
    }
    .descrition--width-half{
        max-width: 50%;
    
    }
    .team{
        padding: 5rem;
    }
    /* footer__contact */
    .footer__contact{
        max-width: 60%;

    }
    .form{
        flex-direction: row
    }
    .form__group{
        margin: 0 0 0 0;
    }
    .form__input {
        padding: 0 1.2rem;
    }
}
/* md :@media (min-width: 768px) { ... }*/
@media screen and (min-width: 768px) {
    /* header */
    .header{
        padding: 1rem 5.5rem;    
    }
    .button--visibility-default{
        display: flex;
    }
    .nav__list{
        display: flex;
    }
    .button--visibility-mobile{
        display: none;
    } 
    /* hero */
    .hero{
        padding: 5rem;
    }
    .hero__content{
        width: 50%;
    }
    .hero__headline br{
        display: none;
    }
    .hero__headline{
        font-size: 3.625rem;
        line-height: 5rem;      
    }
    .headline--size-large{
        font-size: 3.625rem;
        line-height: 5rem; 
    }
    /* Our experts */
    .our-experts{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .our-experts__content {
        padding: 3rem;
    }
    /* team */
    
    .team__members{
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    
  }
  /* lg :@media (min-width: 1024px) { ... }*/
  @media screen and (min-width: 1024px) {
    .button--visibility-default{
        display: flex;
    }
    .nav__list{
        display: flex;
    }
    .button--visibility-mobile{
        display: none;
    } 
    
   
  }
  /* xl :@media (min-width: 1280px) { ... }*/
  /* 2xl: @media (min-width: 1536px) { ... }*/
